/* App.css */
.container {
    margin: auto;
    max-width: 80%;
    border: 5px solid #ddd;
    border-radius: 70px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
  }
  
  .dashboard {
    margin-bottom: 20px;
  }
  
  .dashboard-title {
    text-align: center;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .transaction-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-table th,
  .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .transaction-image {
    width: 50px;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  